    .optify-header-title{width: auto;}
    .optify-subheader{width: auto;}
    .optify-subheader-title{color:#1B66B8;font-size:18px;}
    .optify-form{width: auto;}
    .optify-label-input{width:150px;height:42px;}
    .optify-label{float: right;padding: 5px;font-size: 13px; color: #000; font-weight: bold;}
    .optify-input{float: left;margin-left:150px;position: absolute;}
    .error123{float: left;margin-left:450px;position: absolute;padding-top: 7px;}
    .optify-inbox-box{width:250px;}
    .optify-submit{width: 200px;margin-left: 30px;}
    .optify-submit-button{float: left;border-radius:10px!important;cursor: pointer;}
    .optify-main-hedaer{float: left;}
    .optify-error{float: left;padding: 19px 0 0 10px;}
    .error-msz{font-size: 12px;color: red;display:none;}
    .optif-star{color:red;}
    .clear{clear:both;}